*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;     
    /* justify-content: center; */
    /* text-align: center; */
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    /* padding: 2%; */
}

.welcome{
    width: 15%;
    height: 657px;
    /* display: flex; */
    justify-content: end;
    align-items: center;
    margin-left: 3%;  
    margin-top: 10%;
}

@media(max-width:700px){
    body{
        flex-direction: column;
        
    }
    .input_partitions{

        flex-direction: column;
        align-items: center;
    }
    input{
        /* padding: 12px 12px 12px 12px; */
        margin-bottom: 10px;
    }
    .login_form{
        height: 9;
        /* margin-top: 0% !important; */
        border-top-left-radius: 0% 0%  !important;
    border-bottom-left-radius: 0% 0% !important;
    border-radius: 2% !important;
    margin-bottom:  5% !important;
    }
    .partition1{
        width: 60% !important;
    }
    .partition2{
        width: 60% !important;

    }
    .welcome{
        height: 170px;
    }
    .login_button{
        margin-top: 0% !important;
        /* align-items: baseline; */
    }
    .welcome_heading{
        /* display: flex;   */
        text-align: center; 
        color: white; 
        font-size: 20px !important;
    }
    .col{
        margin: 1% !important;
    }
    .btn-class{
        justify-content: center !important;
    }
    p{
        margin-bottom: 0rem;
    }
    .welcome{
        width: fit-content !important   ;
    }
}
.welcome_heading{
    display: flex;  
    flex-direction: column;
    align-items: center;
    text-align: center; 
    color: white; 
    font-size: 30px;
    
}


.set_heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin: 0;
    width: 80%;
    /* height: 640px; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.login_form{
    width: 80%;
    height: 80%;
    background-color: white;
    border-top-left-radius: 20% 60%;
    border-bottom-left-radius: 20% 60%;
}

.login_heading{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}

.input_partitions{
    width:  100%;
    height: 80%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}


.partition1{
    width: 40%;
    height: 100%;
}
.partition2{
    width: 40%;
    height: 100%;    
}

form{
    width: 100%;
    height: 100%;
}
.login_button{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    /* height: 40px; */
    margin-bottom: 10px;
    width: 100px;
    border-radius: 15px;
}
