* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.mainnn {
    /* height: fit-content; */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.welcome {
    width: 20%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginn {
    width: 140px;
    text-align: center;
}

.welcome_2 {
    margin-left: auto;
    white-space: normal;
}

.welcome_3 {
    text-align: center;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.gemini {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.welcome_heading {
    font-size: 30px;
    color: white;
}


.set_heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 20px;
    width: 80%;
    /* height: 595px; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.drop {
    margin-top: 56px !important;
}

.login_form {
    width: 100%;
    height: 100%;
    background-color: white;
    border-top-left-radius: 8% 60%;
    border-bottom-left-radius: 8% 60%;
}

.login_heading {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}

.input_partitions {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.partition1 {
    width: 45%;
    height: 80%;
    /* background-color: red; */
}

.partition2 {
    margin-top: 20px;
    width: 45%;
    height: 50% !important;
    /* background-color: green; */
}

form {
    width: 100%;
    height: 100%;
}

.login_button {
    margin-top: 160px;
    display: flex;

    justify-content: center;
    align-items: center;
}

.btn {
    /* height: 40px; */

    width: 100px;
    border-radius: 15px;
}

@media(max-width:700px) {
    .mainnn {
        flex-direction: column;

    }


    .input_partitions {

        flex-direction: column;
        align-items: center;
    }

    input {
        /* padding: 12px 12px 12px 12px; */
        margin-bottom: 10px;
    }

    .login_form {
        /* margin-top: 50%; */
        height: auto;
        width: 80%;
        /* margin-top: 0% !important; */
        border-top-left-radius: 0% 0% !important;
        border-bottom-left-radius: 0% 0% !important;
        border-radius: 2% !important;
        margin-bottom: 5% !important;
    }

    .partition1 {
        width: 60% !important;
    }

    .partition2 {
        width: 60% !important;

    }

    .welcome {
        display: flex;
        gap: 20px;
        height: 170px;
    }

    .welcome_2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .welcome_3 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .login_button {
        margin-top: 0% !important;
        /* align-items: baseline; */
    }

    .welcome_heading {
        /* display: flex;   */
        text-align: center;
        color: white;
        font-size: 20px !important;
    }

    .col {
        margin: 1% !important;
    }

    .btn-class {
        justify-content: center !important;
    }

    p {
        margin-bottom: 0rem;
    }

    .welcome {
        width: fit-content !important;
    }

    .login_heading {
        margin-top: 15px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 28px;
    }
    .regg{
        justify-content: center !important;
    }
}

